header{

  justify-content: space-between;
  img[src*="logo"]:hover{
    transform: rotate(90deg);
  }


  img[src*="shopping"]:hover{
    transform: rotate(-30deg);
  }



  a{
    position: relative;

    span{
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;

      display: flex;
      align-items: center;
      justify-content: center;  


      
      background-color: $snitap-sun;
      width: 1.25rem;
      height: 1.25rem;

      border-radius: 50%;
    }
  }
}